@{
    ViewData["Title"] = "Home Page";
}

<h3> 
    Nombre: @ViewBag.Pais.Nombre <br><br> 
    Poblacion: @ViewBag.Pais.Poblacion <br><br> 
    Fecha de independencia: @ViewBag.Pais.FechaIndependencia.ToShortDateString() <br><br> 
    Atractivo turistico recomendado: @ViewBag.Pais.AtractivosTuristicos <br><br>
    
    <img src='/img/@ViewBag.Pais.ImgBandera' style="width 120" height="120">
    
</h3> 