@{
    ViewData["Title"] = "Home Page";
}

<tr>
 @foreach (Pais itemPais in ViewBag.ListaPaises)
    {
        <td> <a href= '@Url.Action("DetallePais")'> <img src='/img/@itemPais.ImgBandera' style="width 210" height="210"> </a> </td>
    }
</tr>
