@{
    ViewData["Title"] = "Home Page";
}

<tr> 
 @foreach (Pais itemPais in ViewBag.ListaPaises)
    {
        <td> <a href= '@Url.Action("DetallePais")'> <img src='/img/@itemPais.ImgBandera' target="_blank" style="width 190" height="190"> </a></td> <br><br>
    }
</tr>
