@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
Política de Privacidad

En nuestro sitio web, nos tomamos muy en serio la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos, almacenamos y protegemos la información personal que obtengamos a través de nuestro sitio web. Al acceder y utilizar nuestro sitio web, aceptas los términos y condiciones de esta Política de Privacidad.

Recopilación de información

Cuando visitas nuestro sitio web, podemos recopilar información personal que voluntariamente proporcionas, como tu nombre, dirección de correo electrónico, número de teléfono y otra información relevante para el propósito de nuestros servicios. Además, podemos recopilar información no personal, como tu dirección IP, tipo de navegador, proveedor de servicios de Internet, páginas de referencia/salida, archivos visualizados en nuestro sitio web (por ejemplo, HTML, gráficos, etc.), sistema operativo y marca de tiempo.

Uso de la información

Utilizaremos la información personal que nos proporciones para los siguientes fines:

Proporcionar y mantener nuestros servicios.
Responder a tus consultas, solicitudes o preguntas.
Personalizar y mejorar tu experiencia en nuestro sitio web.
Enviar información administrativa, como actualizaciones, cambios en nuestras políticas y términos.
Enviar comunicaciones de marketing y promocionales relacionadas con nuestros servicios, pero solo si has dado tu consentimiento previo para recibir dichas comunicaciones.
Divulgación de información

Podemos compartir tu información personal con terceros solo en las siguientes circunstancias:

Si hemos obtenido tu consentimiento explícito.
Para cumplir con las leyes, regulaciones o solicitudes legales aplicables.
Para proteger nuestros derechos, propiedad o seguridad, así como los derechos, propiedad o seguridad de nuestros usuarios u otros.
En caso de fusión, venta de activos o transacciones similares, donde la información del usuario sea uno de los activos transferidos.
Seguridad de la información

Nos comprometemos a garantizar la seguridad de tu información personal. Implementamos medidas técnicas, administrativas y físicas adecuadas para protegerla contra el acceso no autorizado, la divulgación, el uso indebido, la alteración o la destrucción.

Enlaces a sitios web de terceros

Nuestro sitio web puede contener enlaces a sitios web de terceros. No nos hacemos responsables de las prácticas de privacidad o el contenido de dichos sitios web. Te recomendamos que leas las políticas de privacidad de esos sitios antes de proporcionarles tu información personal.

Cookies

Utilizamos cookies y tecnologías similares para recopilar información no personal y mejorar tu experiencia en nuestro sitio web. Puedes ajustar la configuración de tu navegador para rechazar cookies, pero esto puede limitar tu capacidad para utilizar ciertas funciones de nuestro sitio web.

Cambios en la política de privacidad

Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio se hará efectivo inmediatamente después de su publicación en nuestro sitio web. Te recomendamos que revises periódicamente esta página para estar al tanto de cualquier actualización.

Contacto

Si tienes alguna pregunta o inquietud acerca de esta Política de Privacidad o la manera en que tratamos la información personal, no dudes en contactarnos a través de bottarini_piva@gmail.com.</p>
